<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

	  <!-- Machine is Slave-->
	  <add key="IsSlave" value="true"/>

	  <!-- Machine name-->
	  <add key="MachineName" value="MasterMachine"/>
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
	  <bindings>
		  <wsHttpBinding>
			  <binding name="EnrollmentSoapBinding" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
				  <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647"/>
				  <security mode="None">
					  <transport clientCredentialType="None"/>
					  <message establishSecurityContext="false"/>
				  </security>
			  </binding>
		  </wsHttpBinding>
		  <basicHttpBinding>
			  <!--    Stream    -->
			  <binding name="HttpStreaming" maxReceivedMessageSize="67108864" transferMode="Streamed"/>
			  <binding name="Streaming_Binding" maxReceivedMessageSize="67108864" messageEncoding="Text" textEncoding="utf-8" transferMode="Streamed"></binding>
			  <binding name="httpsMaxSizeBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:45:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
				  <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
				  <security mode="Transport"/>
			  </binding>
			  <binding name="httpsBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:45:00">
				  <security mode="Transport"/>
			  </binding>
			  <binding name="httpMaxSizeBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:45:00" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
				  <readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647"/>
				  <security mode="None"/>
			  </binding>
			  <binding name="httpBinding" closeTimeout="00:30:00" openTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:45:00">
				  <security mode="None"/>
			  </binding>
		  </basicHttpBinding>
		  <webHttpBinding>
			  <binding name="Binding" crossDomainScriptAccessEnabled="true">
				  <security mode="Transport">
					  <transport clientCredentialType="None"/>
				  </security>
			  </binding>
			  <binding name="httpbind" crossDomainScriptAccessEnabled="true">
			  </binding>
		  </webHttpBinding>
	  </bindings>
	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="httpsBehavior">
				  <serviceMetadata httpsGetEnabled="true"/>
			  </behavior>
			  <behavior name="httpBehavior">
				  <serviceMetadata httpGetEnabled="true"/>
			  </behavior>
			  <behavior name="ServiceBehaviour">
				  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				  <serviceDebug includeExceptionDetailInFaults="true"/>
			  </behavior>
		  </serviceBehaviors>
		  <endpointBehaviors>
			  <behavior name="web">
				  <webHttp helpEnabled="true"/>
			  </behavior>
		  </endpointBehaviors>

	  </behaviors>
	  <services>
      <service name="AAA.Services.EventServerMachineService">
        <endpoint address="" binding="basicHttpBinding" contract="AAA.Services.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AAA.Services/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="AAA.Services.Client.Proxy">
        <endpoint address="" binding="basicHttpBinding" contract="AAA.Services.Client.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/AAA.Services.Client/Service1/" />
          </baseAddresses>
        </host>
      </service>
		<service name="AAA.Services.EventServerMachineService">
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost/EventServerMachine" />
				</baseAddresses>
			</host>
			<endpoint address="http://localhost/EventServerMachine" binding="basicHttpBinding" contract="AAA.Services.IEventServerMachineService" />
		</service>
	</services>
	<client>
		<!-- Used to signal the master machine when a slave machine started-->
		<endpoint address="http://localhost/EventServerMachine"
			  binding="basicHttpBinding"
			  contract="AAA.Services.Client.IEventServerMachineService"
			  name="BasicHttpBinding_IMasterService" />
	</client>
	<behaviors>
		<serviceBehaviors>
			<behavior>
				<!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
